header{
    background-color: #8b636c;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    text-align: left;
    color: #c1cdcd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-family: comic sans ms; */
    font-size: 40px;
    text-shadow: 3px 3px 5px #666;
}
body{
    margin-left: auto;
    margin-right: auto;
    width:80%;
    background-color:#8b636c;
    background-size: 100%;
}
#container
{
    margin-left: auto;
    margin-right: auto;
    /* width:80%; */
    text-align: center;
    /* box-shadow: 5px 5px 5px #828282; */
}
div.pic1{
    background: url(images/images.jpg) center center no-repeat;
    background-size: cover;
    background-position: top;
    color:#838b8b;
    font-size: 240%;
    font-family: comic sans ms;
    border:1px solid #8b636c;
    text-align: right;
    padding-right: 5%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
div.pic2{
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 80%;   
}

footer{
    color: #fff0f5;
    width: 100%;
    
}    
ul{
    text-align: center;
}
li{
    display: inline-block;
    list-style: none;  
}
ul:after {
  content: "";
  display: inline-block;
  position: relative;
  width: 100%;
}
a:link { text-decoration: none; color: #fff0f5; } /*正常情况下无下划线*/
a:visited { text-decoration: none; color: #fff0f5;} /*访问过的链接无下划线*/
a:hover { text-decoration: underline; } /*鼠标指向时显示下划线*/
a:active { text-decoration: underline; } /*鼠标按下时也显示*/
nav{
    margin: auto;
    text-align: justify;
    text-align-last: justify;
    width: 80%;
    padding: 20px;
    background-color: #8b636c;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}